// Black
$black_1: #000000;
$black_2: #262626;
$black_3: #0c3214;
$black_4: #333333;
$black_5: #1f1f1f;

// White
$white_1: #ffffff;
$white_2: #e6f5e9;
$white_3: #c1ecc6;
$white_4: #d1f0d4;
$white_5: #e9ecef;
$white_6: #f4f4f4;
$white_7: #ffe0e0;

// Blue
$blue_1: #00b4cc;
$blue_2: #3bd3e0;
$blue_3: #2f80ed;
$blue_4: #007bff;

// Grey
$grey_1: #555555;
$grey_2: #e0e0e0;
$grey_3: #9e9e9e;
$grey_4: #999999;

// Red
$red_1: #c62828;
$red_2: #c0392b;
$red_3: #ff3333;
$red_4: #ff0000;

// Green
$green_1: #28a745;

// Yellow
$yellow_1: #ffd633;

// Purple
$purple_1: #ba68c8;
